:root {
    --primary-color: #YourPrimaryColor;
    --secondary-color: #YourSecondaryColor;
    --background-color: #YourBackgroundColor;
    --text-color: #YourTextColor;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  .button {
    background-color: var(--primary-color);
  }
  
  .tile {
    background-color: var(--secondary-color);
  }
  